In [1]:
import numpy as np

import pandas as pd
pd.set_option('mode.chained_assignment', None)      # To suppress pandas warnings.
pd.set_option('display.max_colwidth', -1)           # To display all the data in each column
pd.options.display.max_columns = 50

/home/nbuser/.local/lib/python3.5/site-packages/matplotlib/font_manager.py:232: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  'Matplotlib is building the font cache using fc-list. '

In [2]:
#matches
csv_pd=pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Projects/matches.csv')
csv_pd

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,7949,2018,Pune,20/05/18,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,5,L Ngidi,Maharashtra Cricket Association Stadium,Nitin Menon,Yeshwant Barde,Marais Erasmus
692,7950,2018,Mumbai,22/05/18,Sunrisers Hyderabad,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,2,F du Plessis,Wankhede Stadium,Marais Erasmus,C Shamshuddin,S Ravi
693,7951,2018,Kolkata,23/05/18,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,field,normal,0,Kolkata Knight Riders,25,0,AD Russell,Eden Gardens,Nitin Menon,Anil Chaudhary,Kumar Dharmasena
694,7952,2018,Kolkata,25/05/18,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,14,0,Rashid Khan,Eden Gardens,Nitin Menon,Kumar Dharmasena,Anil Chaudhary
695,7953,2018,Mumbai,27/05/18,Sunrisers Hyderabad,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,8,SR Watson,Wankhede Stadium,Marais Erasmus,S Ravi,Nitin Menon

In [3]:
#1000 movies data
csv_pd=pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Projects/1000%20movies%20data.csv?_sm_au_=iVVF5v8qk25rr3RsL321jK0f1JH33')
csv_pd

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Saldana",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a team finds a structure on a distant moon, but they soon realize they are not alone.",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fassbender, Charlize Theron",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diagnosed 23 distinct personalities. They must try to escape before the apparent emergence of a frightful new 24th.,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richardson, Jessica Sula",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling theater impresario's attempt to save his theater with a singing competition becomes grander than he anticipates even as its finalists' find that their lives will never be the same.",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth MacFarlane, Scarlett Johansson",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of the most dangerous incarcerated super-villains to form a defensive task force. Their first mission: save the world from the apocalypse.,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola Davis",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, along with their supervisor, is suddenly torn apart when they discover that one of their own teenage daughters has been brutally murdered.",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts, Dean Norris",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,"Three American college students studying abroad are lured to a Slovakian hostel, and discover the grim reality behind it.",Eli Roth,"Lauren German, Heather Matarazzo, Bijou Phillips, Roger Bart",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance students from different backgrounds at the Maryland School of the Arts.,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura, Adam G. Sevani",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reunite their pal with the woman he was going to marry.,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Shannon Woodward",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped inside the body of his family's cat.,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Cheryl Hines",2016,87,5.3,12435,19.64,11.0

In [4]:
#Automobile Data
csv_pd=pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Projects/Automobile_data.csv?_sm_au_=iVVF5v8qk25rr3RsL321jK0f1JH33')
csv_pd

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,2952,ohc,four,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,55.5,3049,ohc,four,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3012,ohcv,six,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3217,ohc,six,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3062,ohc,four,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [5]:
#Breast Cancer Survival
csv_pd=pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Projects/Breast_cancer_survival.csv')
csv_pd

     Age  Years_of_operation  Pos_axillary_nodes  Status
0     30                  64                   1       1
1     30                  62                   3       1
2     30                  65                   0       1
3     31                  59                   2       1
4     31                  65                   4       1
5     33                  58                  10       1
6     33                  60                   0       1
7     34                  59                   0       2
8     34                  66                   9       2
9     34                  58                  30       1
10    34                  60                   1       1
11    34                  61                  10       1
12    34                  67                   7       1
13    34                  60                   0       1
14    35                  64                  13       1
15    35                  63                   0       1
16    36                  60                   1       1
17    36                  69                   0       1
18    37                  60                   0       1
19    37                  63                   0       1
20    37                  58                   0       1
21    37                  59                   6       1
22    37                  60                  15       1
23    37                  63                   0       1
24    38                  69                  21       2
25    38                  59                   2       1
26    38                  60                   0       1
27    38                  60                   0       1
28    38                  62                   3       1
29    38                  64                   1       1
..   ...                 ...                 ...     ...
276   67                  66                   0       1
277   67                  61                   0       1
278   67                  65                   0       1
279   68                  67                   0       1
280   68                  68                   0       1
281   69                  67                   8       2
282   69                  60                   0       1
283   69                  65                   0       1
284   69                  66                   0       1
285   70                  58                   0       2
286   70                  58                   4       2
287   70                  66                  14       1
288   70                  67                   0       1
289   70                  68                   0       1
290   70                  59                   8       1
291   70                  63                   0       1
292   71                  68                   2       1
293   72                  63                   0       2
294   72                  58                   0       1
295   72                  64                   0       1
296   72                  67                   3       1
297   73                  62                   0       1
298   73                  68                   0       1
299   74                  65                   3       2
300   74                  63                   0       1
301   75                  62                   1       1
302   76                  67                   0       1
303   77                  65                   3       1
304   78                  65                   1       2
305   83                  58                   2       2

[306 rows x 4 columns]

In [7]:
#European Premier League
csv_pd=pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Projects/European_Premier_League.csv')
csv_pd

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Season
0,E0,14/08/93,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,1993-94
1,E0,14/08/93,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,1993-94
2,E0,14/08/93,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,1993-94
3,E0,14/08/93,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,1993-94
4,E0,14/08/93,Man City,Leeds,1,1,D,NaN,NaN,NaN,1993-94
5,E0,14/08/93,Newcastle,Tottenham,0,1,A,NaN,NaN,NaN,1993-94
6,E0,14/08/93,Oldham,Ipswich,0,3,A,NaN,NaN,NaN,1993-94
7,E0,14/08/93,Sheffield United,Swindon,3,1,H,NaN,NaN,NaN,1993-94
8,E0,14/08/93,Southampton,Everton,0,2,A,NaN,NaN,NaN,1993-94
9,E0,14/08/93,West Ham,Wimbledon,0,2,A,NaN,NaN,NaN,1993-94
10,E0,15/08/93,Norwich,Man United,0,2,A,NaN,NaN,NaN,1993-94
11,E0,16/08/93,Tottenham,Arsenal,0,1,A,NaN,NaN,NaN,1993-94
12,E0,17/08/93,Everton,Man City,1,0,H,NaN,NaN,NaN,1993-94
13,E0,17/08/93,Ipswich,Southampton,1,0,H,NaN,NaN,NaN,1993-94
14,E0,17/08/93,Leeds,West Ham,1,0,H,NaN,NaN,NaN,1993-94
15,E0,17/08/93,Wimbledon,Chelsea,1,1,D,NaN,NaN,NaN,1993-94
16,E0,18/08/93,Blackburn,Norwich,2,3,A,NaN,NaN,NaN,1993-94
17,E0,18/08/93,Coventry,Newcastle,2,1,H,NaN,NaN,NaN,1993-94
18,E0,18/08/93,Man United,Sheffield United,3,0,H,NaN,NaN,NaN,1993-94
19,E0,18/08/93,QPR,Liverpool,1,3,A,NaN,NaN,NaN,1993-94
20,E0,18/08/93,Sheffield Weds,Aston Villa,0,0,D,NaN,NaN,NaN,1993-94
21,E0,18/08/93,Swindon,Oldham,0,1,A,NaN,NaN,NaN,1993-94
22,E0,21/08/93,Blackburn,Oldham,1,0,H,NaN,NaN,NaN,1993-94
23,E0,21/08/93,Coventry,West Ham,1,1,D,NaN,NaN,NaN,1993-94
24,E0,21/08/93,Everton,Sheffield United,4,2,H,NaN,NaN,NaN,1993-94
25,E0,21/08/93,Ipswich,Chelsea,1,0,H,NaN,NaN,NaN,1993-94
26,E0,21/08/93,Leeds,Norwich,0,4,A,NaN,NaN,NaN,1993-94
27,E0,21/08/93,Man United,Newcastle,1,1,D,NaN,NaN,NaN,1993-94
28,E0,21/08/93,QPR,Southampton,2,1,H,NaN,NaN,NaN,1993-94
29,E0,21/08/93,Sheffield Weds,Arsenal,0,1,A,NaN,NaN,NaN,1993-94
...,...,...,...,...,...,...,...,...,...,...,...
9634,E0,28/04/18,Swansea,Chelsea,0,1,A,0.0,1.0,A,2017-18
9635,E0,29/04/18,Man United,Arsenal,2,1,H,1.0,0.0,H,2017-18
9636,E0,29/04/18,West Ham,Man City,1,4,A,1.0,2.0,A,2017-18
9637,E0,30/04/18,Tottenham,Watford,2,0,H,1.0,0.0,H,2017-18
9638,E0,4/5/2018,Brighton,Man United,1,0,H,0.0,0.0,D,2017-18
9639,E0,5/5/2018,Bournemouth,Swansea,1,0,H,1.0,0.0,H,2017-18
9640,E0,5/5/2018,Everton,Southampton,1,1,D,0.0,0.0,D,2017-18
9641,E0,5/5/2018,Leicester,West Ham,0,2,A,0.0,1.0,A,2017-18
9642,E0,5/5/2018,Stoke,Crystal Palace,1,2,A,1.0,0.0,H,2017-18
9643,E0,5/5/2018,Watford,Newcastle,2,1,H,2.0,0.0,H,2017-18
9644,E0,5/5/2018,West Brom,Tottenham,1,0,H,0.0,0.0,D,2017-18
9645,E0,6/5/2018,Arsenal,Burnley,5,0,H,2.0,0.0,H,2017-18
9646,E0,6/5/2018,Chelsea,Liverpool,1,0,H,1.0,0.0,H,2017-18
9647,E0,6/5/2018,Man City,Huddersfield,0,0,D,0.0,0.0,D,2017-18
9648,E0,8/5/2018,Swansea,Southampton,0,1,A,0.0,0.0,D,2017-18
9649,E0,9/5/2018,Chelsea,Huddersfield,1,1,D,0.0,0.0,D,2017-18
9650,E0,9/5/2018,Leicester,Arsenal,3,1,H,1.0,0.0,H,2017-18
9651,E0,9/5/2018,Man City,Brighton,3,1,H,2.0,1.0,H,2017-18
9652,E0,9/5/2018,Tottenham,Newcastle,1,0,H,0.0,0.0,D,2017-18
9653,E0,10/5/2018,West Ham,Man United,0,0,D,0.0,0.0,D,2017-18
9654,E0,13/05/18,Burnley,Bournemouth,1,2,A,1.0,0.0,H,2017-18
9655,E0,13/05/18,Crystal Palace,West Brom,2,0,H,0.0,0.0,D,2017-18
9656,E0,13/05/18,Huddersfield,Arsenal,0,1,A,0.0,1.0,A,2017-18
9657,E0,13/05/18,Liverpool,Brighton,4,0,H,2.0,0.0,H,2017-18
9658,E0,13/05/18,Man United,Watford,1,0,H,1.0,0.0,H,2017-18
9659,E0,13/05/18,Newcastle,Chelsea,3,0,H,1.0,0.0,H,2017-18
9660,E0,13/05/18,Southampton,Man City,0,1,A,0.0,0.0,D,2017-18
9661,E0,13/05/18,Swansea,Stoke,1,2,A,1.0,2.0,A,2017-18
9662,E0,13/05/18,Tottenham,Leicester,5,4,H,1.0,2.0,A,2017-18
9663,E0,13/05/18,West Ham,Everton,3,1,H,1.0,0.0,H,2017-18

In [13]:
#FastFoodRestaurants
csv_pd=pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Projects/FastFoodRestaurants.csv')
csv_pd.head()

,address,city,country,keys,latitude,longitude,name,postalCode,province,websites
0,324 Main St,Massena,US,us/ny/massena/324mainst/-1161002137,44.92130,-74.89021,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/?cid=RF:YXT_FM:TP::Yext:Referral"
1,530 Clinton Ave,Washington Court House,US,us/oh/washingtoncourthouse/530clintonave/-791445730,39.53255,-83.44526,Wendy's,43160,OH,http://www.wendys.com
2,408 Market Square Dr,Maysville,US,us/ky/maysville/408marketsquaredr/1051460804,38.62736,-83.79141,Frisch's Big Boy,41056,KY,"http://www.frischs.com,https://www.frischs.com/location/maysville-ky/"
3,6098 State Highway 37,Massena,US,us/ny/massena/6098statehighway37/-1161002137,44.95008,-74.84553,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/?cid=RF:YXT_FM:TP::Yext:Referral"
4,139 Columbus Rd,Athens,US,us/oh/athens/139columbusrd/990890980,39.35155,-82.09728,OMG! Rotisserie,45701,OH,"http://www.omgrotisserie.com,http://omgrotisserie.com"

In [5]:
#boxing_matches.csv
csv_pd=pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Projects/boxing_matches.csv')
csv_pd

,age_A,age_B,height_A,height_B,reach_A,reach_B,stance_A,stance_B,weight_A,weight_B,won_A,won_B,lost_A,lost_B,drawn_A,drawn_B,kos_A,kos_B,result,decision,judge1_A,judge1_B,judge2_A,judge2_B,judge3_A,judge3_B
0,35.0,27.0,179.0,175.0,178.0,179.0,orthodox,orthodox,160.0,160.0,37,49,0,1,0,1,33,34.0,draw,SD,110.0,118.0,115.0,113.0,114.0,114.0
1,26.0,31.0,175.0,185.0,179.0,185.0,orthodox,orthodox,164.0,164.0,48,50,1,2,1,1,34,32.0,win_A,UD,120.0,108.0,120.0,108.0,120.0,108.0
2,28.0,26.0,176.0,175.0,NaN,179.0,orthodox,orthodox,154.0,154.0,23,47,0,1,1,1,13,33.0,win_B,KO,NaN,NaN,NaN,NaN,NaN,NaN
3,25.0,29.0,175.0,174.0,179.0,180.0,orthodox,orthodox,155.0,155.0,46,31,1,3,1,0,32,19.0,win_A,KO,47.0,48.0,49.0,46.0,48.0,47.0
4,25.0,35.0,175.0,170.0,179.0,170.0,orthodox,orthodox,155.0,NaN,45,40,1,4,1,0,32,33.0,win_A,UD,118.0,110.0,119.0,109.0,117.0,111.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387422,20.0,NaN,NaN,NaN,NaN,NaN,orthodox,orthodox,NaN,NaN,31,0,0,0,2,0,19,0.0,win_A,KO,NaN,NaN,NaN,NaN,NaN,NaN
387423,20.0,NaN,NaN,NaN,NaN,NaN,orthodox,orthodox,NaN,NaN,30,2,0,9,2,3,19,2.0,win_A,PTS,NaN,NaN,NaN,NaN,NaN,NaN
387424,20.0,26.0,NaN,NaN,NaN,NaN,orthodox,orthodox,NaN,NaN,29,7,0,7,2,3,18,3.0,win_A,TKO,NaN,NaN,NaN,NaN,NaN,NaN
387425,20.0,NaN,NaN,NaN,NaN,NaN,orthodox,orthodox,NaN,NaN,28,0,0,4,2,0,17,0.0,win_A,TKO,NaN,NaN,NaN,NaN,NaN,NaN
387426,20.0,NaN,NaN,NaN,NaN,NaN,orthodox,orthodox,NaN,NaN,27,0,0,2,2,1,16,0.0,win_A,KO,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#deliveries.csv
csv_pd=pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Projects/deliveries.csv')
csv_pd

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
5,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,6,S Dhawan,DA Warner,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,7,S Dhawan,DA Warner,TS Mills,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
7,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,1,S Dhawan,DA Warner,A Choudhary,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
8,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,2,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
9,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,3,DA Warner,S Dhawan,A Choudhary,0,...,0,0,1,0,0,1,1,NaN,NaN,NaN
10,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,4,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
11,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,5,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,DA Warner,caught,Mandeep Singh
12,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,6,MC Henriques,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
13,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,7,MC Henriques,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
14,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,1,S Dhawan,MC Henriques,TS Mills,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
15,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,2,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
16,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,3,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
17,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,4,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,0,3,0,3,NaN,NaN,NaN
18,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,5,S Dhawan,MC Henriques,TS Mills,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
19,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,6,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
20,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,1,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
21,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,2,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
22,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,3,S Dhawan,MC Henriques,YS Chahal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
23,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,4,S Dhawan,MC Henriques,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
24,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,5,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
25,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,6,S Dhawan,MC Henriques,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
26,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,1,S Dhawan,MC Henriques,S Aravind,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
27,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,2,MC Henriques,S Dhawan,S Aravind,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
28,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,3,S Dhawan,MC Henriques,S Aravind,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
29,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,4,MC Henriques,S Dhawan,S Aravind,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164720,7953,2,Chennai Super Kings,Sunrisers Hyderabad,14,5,SR Watson,AT Rayudu,CR Brathwaite,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
164721,7953,2,Chennai Super Kings,Sunrisers Hyderabad,14,6,SR Watson,AT Rayudu,CR Brathwaite,0,...,0,0,0,0,1,1,2,NaN,NaN,NaN
164722,7953,2,Chennai Super Kings,Sunrisers Hyderabad,14,7,SR Watson,AT Rayudu,CR Brathwaite,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
164723,7953,2,Chennai Super Kings,Sunrisers Hyderabad,15,1,AT Rayudu,SR Watson,Rashid Khan,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
164724,7953,2,Chennai Super Kings,Sunrisers Hyderabad,15,2,AT Rayudu,SR Watson,Rashid Khan,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
164725,7953,2,Chennai Super Kings,Sunrisers Hyderabad,15,3,AT Rayudu,SR Watson,Rashid Khan,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
164726,7953,2,Chennai Super Kings,Sunrisers Hyderabad,15,4,AT Rayudu,SR Watson,Rashid Khan,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
164727,7953,2,Chennai Super Kings,Sunrisers Hyderabad,15,5,AT Rayudu,SR Watson,Rashid Khan,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
164728,7953,2,Chennai Super Kings,Sunrisers Hyderabad,15,6,AT Rayudu,SR Watson,Rashid Khan,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
164729,7953,2,Chennai Super Kings,Sunrisers Hyderabad,16,1,AT Rayudu,SR Watson,B Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
164730,7953,2,Chennai Super Kings,Sunrisers Hyderabad,16,2,AT Rayudu,SR Watson,B Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
164731,7953,2,Chennai Super Kings,Sunrisers Hyderabad,16,3,AT Rayudu,SR Watson,B Kumar,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
164732,7953,2,Chennai Super Kings,Sunrisers Hyderabad,16,4,AT Rayudu,SR Watson,B Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
164733,7953,2,Chennai Super Kings,Sunrisers Hyderabad,16,5,AT Rayudu,SR Watson,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
164734,7953,2,Chennai Super Kings,Sunrisers Hyderabad,16,6,SR Watson,AT Rayudu,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
164735,7953,2,Chennai Super Kings,Sunrisers Hyderabad,17,1,SR Watson,AT Rayudu,Rashid Khan,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
164736,7953,2,Chennai Super Kings,Sunrisers Hyderabad,17,2,AT Rayudu,SR Watson,Rashid Khan,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
164737,7953,2,Chennai Super Kings,Sunrisers Hyderabad,17,3,SR Watson,AT Rayudu,Rashid Khan,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
164738,7953,2,Chennai Super Kings,Sunrisers Hyderabad,17,4,AT Rayudu,SR Watson,Rashid Khan,0,...,0,1,0,0,1,1,2,NaN,NaN,NaN
164739,7953,2,Chennai Super Kings,Sunrisers Hyderabad,17,5,SR Watson,AT Rayudu,Rashid Khan,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
164740,7953,2,Chennai Super Kings,Sunrisers Hyderabad,17,6,SR Watson,AT Rayudu,Rashid Khan,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
164741,7953,2,Chennai Super Kings,Sunrisers Hyderabad,18,1,AT Rayudu,SR Watson,S Kaul,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
164742,7953,2,Chennai Super Kings,Sunrisers Hyderabad,18,2,SR Watson,AT Rayudu,S Kaul,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
164743,7953,2,Chennai Super Kings,Sunrisers Hyderabad,18,3,AT Rayudu,SR Watson,S Kaul,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
164744,7953,2,Chennai Super Kings,Sunrisers Hyderabad,18,4,SR Watson,AT Rayudu,S Kaul,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
164745,7953,2,Chennai Super Kings,Sunrisers Hyderabad,18,5,SR Watson,AT Rayudu,S Kaul,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
164746,7953,2,Chennai Super Kings,Sunrisers Hyderabad,18,6,SR Watson,AT Rayudu,S Kaul,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
164747,7953,2,Chennai Super Kings,Sunrisers Hyderabad,19,1,AT Rayudu,SR Watson,CR Brathwaite,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
164748,7953,2,Chennai Super Kings,Sunrisers Hyderabad,19,2,AT Rayudu,SR Watson,CR Brathwaite,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
164749,7953,2,Chennai Super Kings,Sunrisers Hyderabad,19,3,AT Rayudu,SR Watson,CR Brathwaite,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [8]:
#car_sales.csv
csv_pd=pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Projects/car_sales.csv?_sm_au_=iVVWrF4ZtSJ7PB6NL321jK0f1JH33')
csv_pd

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xcb in position 0: invalid continuation byte

In [10]:
#facebook_data.csv
csv_pd=pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Projects/facebook_data.csv')
csv_pd.tail()

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
98998,1268299,68,4,1945,4,female,541.0,2118,341,3996,18089,3505,11887,491,6202
98999,1256153,18,12,1995,3,female,21.0,1968,1720,4401,13412,4399,10592,2,2820
99000,1195943,15,10,1998,5,female,111.0,2002,1524,11959,12554,11959,11462,0,1092
99001,1468023,23,11,1990,4,female,416.0,2560,185,4506,6516,4506,5760,0,756
99002,1397896,39,15,1974,5,female,397.0,2049,768,9410,12443,9410,9530,0,2913

In [12]:
#matches.csv
csv_pd=pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Projects/matches.csv')
csv_pd.tail()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
691,7949,2018,Pune,20/05/18,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,5,L Ngidi,Maharashtra Cricket Association Stadium,Nitin Menon,Yeshwant Barde,Marais Erasmus
692,7950,2018,Mumbai,22/05/18,Sunrisers Hyderabad,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,2,F du Plessis,Wankhede Stadium,Marais Erasmus,C Shamshuddin,S Ravi
693,7951,2018,Kolkata,23/05/18,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,field,normal,0,Kolkata Knight Riders,25,0,AD Russell,Eden Gardens,Nitin Menon,Anil Chaudhary,Kumar Dharmasena
694,7952,2018,Kolkata,25/05/18,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,14,0,Rashid Khan,Eden Gardens,Nitin Menon,Kumar Dharmasena,Anil Chaudhary
695,7953,2018,Mumbai,27/05/18,Sunrisers Hyderabad,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,8,SR Watson,Wankhede Stadium,Marais Erasmus,S Ravi,Nitin Menon

In [16]:
#summer olympics.csv
csv_pd=pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Projects/summer%20olympics.csv?_sm_au_=iVVZFVFvZFDSnFZPL321jK0f1JH33')
csv_pd

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
5,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200M Freestyle,Bronze
6,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200M Freestyle,Gold
7,1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200M Freestyle,Silver
8,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400M Freestyle,Bronze
9,1896,Athens,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400M Freestyle,Gold
10,1896,Athens,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400M Freestyle,Silver
11,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100M,Bronze
12,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100M,Bronze
13,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100M,Gold
14,1896,Athens,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100M,Silver
15,1896,Athens,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110M Hurdles,Gold
16,1896,Athens,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110M Hurdles,Silver
17,1896,Athens,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500M,Bronze
18,1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500M,Gold
19,1896,Athens,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500M,Silver
20,1896,Athens,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400M,Bronze
21,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,400M,Gold
22,1896,Athens,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400M,Silver
23,1896,Athens,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800M,Bronze
24,1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800M,Gold
25,1896,Athens,Athletics,Athletics,"DANI, Nandor",HUN,Men,800M,Silver
26,1896,Athens,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,Discus Throw,Bronze
27,1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,Discus Throw,Gold
28,1896,Athens,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,Discus Throw,Silver
29,1896,Athens,Athletics,Athletics,"CLARK, Ellery",USA,Men,High Jump,Gold
...,...,...,...,...,...,...,...,...,...
31135,2012,London,Wrestling,Wrestling Freestyle,"GAZYUMOV, Khetag",AZE,Men,Wf 96 KG,Bronze
31136,2012,London,Wrestling,Wrestling Freestyle,"GOGSHELIDZE, George",GEO,Men,Wf 96 KG,Bronze
31137,2012,London,Wrestling,Wrestling Freestyle,"LOPEZ NUNEZ, Mijain",CUB,Men,Wg 120 KG,Gold
31138,2012,London,Wrestling,Wrestling Freestyle,"NABI, Heiki",EST,Men,Wg 120 KG,Silver
31139,2012,London,Wrestling,Wrestling Freestyle,"EUREN, Johan",SWE,Men,Wg 120 KG,Bronze
31140,2012,London,Wrestling,Wrestling Freestyle,"KAYAALP, Riza",TUR,Men,Wg 120 KG,Bronze
31141,2012,London,Wrestling,Wrestling Freestyle,"SORYAN REIHANPOUR, Hamid Mohammad",IRI,Men,Wg 55 KG,Gold
31142,2012,London,Wrestling,Wrestling Freestyle,"BAYRAMOV, Rovshan",AZE,Men,Wg 55 KG,Silver
31143,2012,London,Wrestling,Wrestling Freestyle,"MODOS, Peter",HUN,Men,Wg 55 KG,Bronze
31144,2012,London,Wrestling,Wrestling Freestyle,"SEMENOV, Mingiyan",RUS,Men,Wg 55 KG,Bronze
31145,2012,London,Wrestling,Wrestling Freestyle,"NOROOZI, Omid Haji",IRI,Men,Wg 60 KG,Gold
31146,2012,London,Wrestling,Wrestling Freestyle,"LASHKHI, Revaz",GEO,Men,Wg 60 KG,Silver
31147,2012,London,Wrestling,Wrestling Freestyle,"KURAMAGOMEDOV, Zaur",RUS,Men,Wg 60 KG,Bronze
31148,2012,London,Wrestling,Wrestling Freestyle,"MATSUMOTO, Ryutaro",JPN,Men,Wg 60 KG,Bronze
31149,2012,London,Wrestling,Wrestling Freestyle,"KIM, Hyeonwoo",KOR,Men,Wg 66 KG,Gold
31150,2012,London,Wrestling,Wrestling Freestyle,"LORINCZ, Tamas",HUN,Men,Wg 66 KG,Silver
31151,2012,London,Wrestling,Wrestling Freestyle,"GUENOT, Steeve",FRA,Men,Wg 66 KG,Bronze
31152,2012,London,Wrestling,Wrestling Freestyle,"TSKHADAIA, Manuchar",GEO,Men,Wg 66 KG,Bronze
31153,2012,London,Wrestling,Wrestling Freestyle,"VLASOV, Roman",RUS,Men,Wg 74 KG,Gold
31154,2012,London,Wrestling,Wrestling Freestyle,"JULFALAKYAN, Arsen",ARM,Men,Wg 74 KG,Silver
31155,2012,London,Wrestling,Wrestling Freestyle,"AHMADOV, Emin",AZE,Men,Wg 74 KG,Bronze
31156,2012,London,Wrestling,Wrestling Freestyle,"KAZAKEVIC, Aleksandr",LTU,Men,Wg 74 KG,Bronze
31157,2012,London,Wrestling,Wrestling Freestyle,"KHUGAEV, Alan",RUS,Men,Wg 84 KG,Gold
31158,2012,London,Wrestling,Wrestling Freestyle,"EBRAHIM, Karam Mohamed Gaber",EGY,Men,Wg 84 KG,Silver
31159,2012,London,Wrestling,Wrestling Freestyle,"GAJIYEV, Danyal",KAZ,Men,Wg 84 KG,Bronze
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [17]:
#winequality.csv
csv_pd=pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Projects/winequality.csv')
csv_pd

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.90,0.076,11.0,34.0,0.99780,3.51,0.56,9.400000,5
1,7.8,0.880,0.00,2.60,0.098,25.0,67.0,0.99680,3.20,0.68,9.800000,5
2,7.8,0.760,0.04,2.30,0.092,15.0,54.0,0.99700,3.26,0.65,9.800000,5
3,11.2,0.280,0.56,1.90,0.075,17.0,60.0,0.99800,3.16,0.58,9.800000,6
4,7.4,0.700,0.00,1.90,0.076,11.0,34.0,0.99780,3.51,0.56,9.400000,5
5,7.4,0.660,0.00,1.80,0.075,13.0,40.0,0.99780,3.51,0.56,9.400000,5
6,7.9,0.600,0.06,1.60,0.069,15.0,59.0,0.99640,3.30,0.46,9.400000,5
7,7.3,0.650,0.00,1.20,0.065,15.0,21.0,0.99460,3.39,0.47,10.000000,7
8,7.8,0.580,0.02,2.00,0.073,9.0,18.0,0.99680,3.36,0.57,9.500000,7
9,7.5,0.500,0.36,6.10,0.071,17.0,102.0,0.99780,3.35,0.80,10.500000,5
10,6.7,0.580,0.08,1.80,0.097,15.0,65.0,0.99590,3.28,0.54,9.200000,5
11,7.5,0.500,0.36,6.10,0.071,17.0,102.0,0.99780,3.35,0.80,10.500000,5
12,5.6,0.615,0.00,1.60,0.089,16.0,59.0,0.99430,3.58,0.52,9.900000,5
13,7.8,0.610,0.29,1.60,0.114,9.0,29.0,0.99740,3.26,1.56,9.100000,5
14,8.9,0.620,0.18,3.80,0.176,52.0,145.0,0.99860,3.16,0.88,9.200000,5
15,8.9,0.620,0.19,3.90,0.170,51.0,148.0,0.99860,3.17,0.93,9.200000,5
16,8.5,0.280,0.56,1.80,0.092,35.0,103.0,0.99690,3.30,0.75,10.500000,7
17,8.1,0.560,0.28,1.70,0.368,16.0,56.0,0.99680,3.11,1.28,9.300000,5
18,7.4,0.590,0.08,4.40,0.086,6.0,29.0,0.99740,3.38,0.50,9.000000,4
19,7.9,0.320,0.51,1.80,0.341,17.0,56.0,0.99690,3.04,1.08,9.200000,6
20,8.9,0.220,0.48,1.80,0.077,29.0,60.0,0.99680,3.39,0.53,9.400000,6
21,7.6,0.390,0.31,2.30,0.082,23.0,71.0,0.99820,3.52,0.65,9.700000,5
22,7.9,0.430,0.21,1.60,0.106,10.0,37.0,0.99660,3.17,0.91,9.500000,5
23,8.5,0.490,0.11,2.30,0.084,9.0,67.0,0.99680,3.17,0.53,9.400000,5
24,6.9,0.400,0.14,2.40,0.085,21.0,40.0,0.99680,3.43,0.63,9.700000,6
25,6.3,0.390,0.16,1.40,0.080,11.0,23.0,0.99550,3.34,0.56,9.300000,5
26,7.6,0.410,0.24,1.80,0.080,4.0,11.0,0.99620,3.28,0.59,9.500000,5
27,7.9,0.430,0.21,1.60,0.106,10.0,37.0,0.99660,3.17,0.91,9.500000,5
28,7.1,0.710,0.00,1.90,0.080,14.0,35.0,0.99720,3.47,0.55,9.400000,5
29,7.8,0.645,0.00,2.00,0.082,8.0,16.0,0.99640,3.38,0.59,9.800000,6
...,...,...,...,...,...,...,...,...,...,...,...,...
6467,5.8,0.230,0.31,4.50,0.046,42.0,124.0,0.99324,3.31,0.64,10.800000,6
6468,6.6,0.240,0.33,10.10,0.032,8.0,81.0,0.99626,3.19,0.51,9.800000,6
6469,6.1,0.320,0.28,6.60,0.021,29.0,132.0,0.99188,3.15,0.36,11.450000,7
6470,5.0,0.200,0.40,1.90,0.015,20.0,98.0,0.98970,3.37,0.55,12.050000,6
6471,6.0,0.420,0.41,12.40,0.032,50.0,179.0,0.99622,3.14,0.60,9.700000,5
6472,5.7,0.210,0.32,1.60,0.030,33.0,122.0,0.99044,3.33,0.52,11.900000,6
6473,5.6,0.200,0.36,2.50,0.048,16.0,125.0,0.99282,3.49,0.49,10.000000,6
6474,7.4,0.220,0.26,1.20,0.035,18.0,97.0,0.99245,3.12,0.41,9.700000,6
6475,6.2,0.380,0.42,2.50,0.038,34.0,117.0,0.99132,3.36,0.59,11.600000,7
6476,5.9,0.540,0.00,0.80,0.032,12.0,82.0,0.99286,3.25,0.36,8.800000,5
6477,6.2,0.530,0.02,0.90,0.035,6.0,81.0,0.99234,3.24,0.35,9.500000,4
6478,6.6,0.340,0.40,8.10,0.046,68.0,170.0,0.99494,3.15,0.50,9.533333,6
6479,6.6,0.340,0.40,8.10,0.046,68.0,170.0,0.99494,3.15,0.50,9.533333,6
6480,5.0,0.235,0.27,11.75,0.030,34.0,118.0,0.99540,3.07,0.50,9.400000,6
6481,5.5,0.320,0.13,1.30,0.037,45.0,156.0,0.99184,3.26,0.38,10.700000,5
6482,4.9,0.470,0.17,1.90,0.035,60.0,148.0,0.98964,3.27,0.35,11.500000,6
6483,6.5,0.330,0.38,8.30,0.048,68.0,174.0,0.99492,3.14,0.50,9.600000,5
6484,6.6,0.340,0.40,8.10,0.046,68.0,170.0,0.99494,3.15,0.50,9.550000,6
6485,6.2,0.210,0.28,5.70,0.028,45.0,121.0,0.99168,3.21,1.08,12.150000,7
6486,6.2,0.410,0.22,1.90,0.023,5.0,56.0,0.98928,3.04,0.79,13.000000,7
6487,6.8,0.220,0.36,1.20,0.052,38.0,127.0,0.99330,3.04,0.54,9.200000,5
6488,4.9,0.235,0.27,11.75,0.030,34.0,118.0,0.99540,3.07,0.50,9.400000,6
6489,6.1,0.340,0.29,2.20,0.036,25.0,100.0,0.98938,3.06,0.44,11.800000,6
6490,5.7,0.210,0.32,0.90,0.038,38.0,121.0,0.99074,3.24,0.46,10.600000,6
6491,6.5,0.230,0.38,1.30,0.032,29.0,112.0,0.99298,3.29,0.54,9.700000,5
6492,6.2,0.210,0.29,1.60,0.039,24.0,92.0,0.99114,3.27,0.50,11.200000,6
6493,6.6,0.320,0.36,8.00,0.047,57.0,168.0,0.99490,3.15,0.46,9.600000,5
6494,6.5,0.240,0.19,1.20,0.041,30.0,111.0,0.99254,2.99,0.46,9.400000,6
6495,5.5,0.290,0.30,1.10,0.022,20.0,110.0,0.98869,3.34,0.38,12.800000,7
6496,6.0,0.210,0.38,0.80,0.020,22.0,98.0,0.98941,3.26,0.32,11.800000,6